html, body {
	margin:0;
	padding:0;
}

body {
	font-family:verdana;
	font-size:10px;
	background:#e9e9e9;
}

a {
	color:#0085AF;
}

form {
	padding:0;
	margin:0;
}

div#wrap {
	width:500px;
	margin:0 auto;
	background:#fff;
}

div#header {
	padding:15px 20px;
	background:#6FC4DF;
	color:#fff;
}

div#header h4 {
	font-size:28px;
	font-weight:100;
	font-family:helvetica,arial;
	color:#fff;
	margin:0;
}

div#header h4 span {
	display:block;
	font-size:9px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#fff;
}

div#header ul {
	list-style-type:none;
	margin:10px 0 0 0;
	padding:0;
	float:left;
}

div#header ul li {
	display:block;
	float:left;
	margin:0;
	padding:0;
}

div#header li a:link,
div#header li a:active,
div#header li a:visited
{
	display:block;
	background:#40ADCF;
	color:#fff;
	font-size:10px;
	font-weight:bold;
	margin:0 6px 0 0;
	padding:3px 5px;
	text-decoration:none;
	float:left;
}

div#header li a:hover,
div#header li a:visited:hover
{
	background:#000;
}

div#main-content {
	left:180px;
	width:500px;
}

div.distribution {
	padding:15px;
	border-bottom:1px dotted #ccc;
}

div.distribution .line-items {
	float:left;
	margin-right:100px;
	list-style-type:none;
	margin:0;
	padding:0;
}

div.distribution .delete {
	float:right;
	width:100px;
	text-align:right;
}

div.distribution .delete a {
	color:#CF1919;
	text-decoration:none;
	font-size:20px;
	font-weight:bold;
	font-family:arial;
}

div#create-dist {
	margin:10px 0 0 0;
	display:none;
}

div#create-dist strong {
	color:#1A738F;
}

div#footer {
	background:#cfcfcf;
	color:#333;
	font-size:9px;
	padding:10px;
	text-align:center;
}

.input {
	border:1px solid #3BA0BF;
	padding:3px;
	background:#fff;
	color:#666;
}

.submit {
	border:1px solid #3BA0BF;
	background:#40ADCF;
	padding:3px;
	color:#fff;
}

.clear-left {clear:left;}
.clear-right {clear:right;}
.clear-hack {clear:both;}